{% load static %}
{% load markdownify %}

<link rel="stylesheet" href="{% static 'correlations/out.css' %}">
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


<div class="min-h-screen bg-slate-100 px-4 py-8">        <!-- outer: full width, sets background -->
  <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-sm p-8">  <!-- inner: centered box -->
    <article class="prose prose-neutral lg:prose-lg">
      {{post.content|markdownify}}
    </article>
  </div>
</div>

